.boxplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh
}


.boxplay p{
    font-size: 4em;
}

button{
    margin-top: 3vh;
    font-size: xx-large;
}





