main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin:0 auto;
}

div.inputBox{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    label{
        grid-column: 1;
        margin-right:10px;
        text-align: end;
    }
    input{
        grid-column: 2;
    }
    textarea{
        grid-column: 2;
    }
}

