main {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin: 0; /* Enlève les marges par défaut */
}

article {
  border: 3px solid #3399ff;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 500px;
  height: 400px;
  top: 50%; /* Positionne à 50% de la hauteur */
  left: 50%; /* Positionne à 50% de la largeur */
  transform: translate(-50%, -50%); /* Centre la div */
}

article div {
  position: absolute; /* Positionnement absolu */
  top: 50%; /* Positionne à 50% de la hauteur */
  left: 50%; /* Positionne à 50% de la largeur */
  transform: translate(-50%, -50%); /* Centre la div */
  text-align: center;
  width: 400px;
  height: auto;
}

fieldset {
  border: 1px solid #ffc835;
}

input {
  width: 100%;
}
