header{
    background-color: #3399FF;
    padding: 0 1em 0 1em;
    width: auto;
}

header nav h1{
    color: #FFCD29;
    cursor: default;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 24px;
}

img.logo,
img.user{
    height: auto;
    width: 5em;
}

p.yellow{
    color: #FFCD29;
}


nav div{
    display: flex;
    flex-direction: column;
}