header {
  background-color: #3399ff;
  padding: 0 1em 0 1em;
  width: auto;
}

header nav h1 {
  color: #ffcd29;
  cursor: default;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo,
img.user {
  height: auto;
  width: 5em;
}

p.yellow {
  color: #ffcd29;
}

nav div {
  display: flex;
  flex-direction: column;
}
