body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h2{
    display: flex;
    justify-content: center;
    margin: 7vh;
}

.titlequiz{
    color: black;
    font-size: 15px;
}

main {
    height: 50vh;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 3vh; 
}

.boxquiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #3399ff;
    border-radius:25px ;
    background-color: hsl(210, 100%, 60%, 10%);
}

a img{
    text-align: center;
}

.boxquiz img {
    width: 100px;
    object-fit: contain;
    aspect-ratio: 1/1; /* Garde le ratio d'aspect */
    display: block; /* Supprime l'espace en bas de l'image */
}


.boxquiz a{
    display: flex;
    justify-content: center;
    font-size: 3vh;
    font-family: "playPretend", sans-serif;
    color: black;
    margin-top: 5px;
}