@font-face {
  font-family: "madeTommy";
  font-weight: normal;
  src: url("../src/fonts/madeTommy.otf") format("opentype");
}

@font-face {
  font-family: "playPretend";
  font-weight: normal;
  src: url("../src/fonts/playPretend.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "playPretend", sans-serif;
  cursor: default;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

p {
  font-family: "madeTommy", sans-serif;
  cursor: default;
}

button {
  font-family: "playPretend", sans-serif;
  border: 1px solid #3399ff;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #3399ff;
}

button:hover {
  border-inline: 3px solid black;
  color: black;
}

button:hover a {
  color: black;
}

button:active {
  background-color: #ffc835;
}

button a {
  color: #ffc835;
}

button {
  color: #ffc835;
}

input,
textarea {
  border: 1px solid #3399ff;
  border-radius: 10px;
  font-family: "madeTommy", sans-serif;
  padding: 5px;
  margin: 1em;
}

input:focus,
textarea:focus {
  outline-color: #3399ff;
}

input.mobile {
  background-color: #3399ff;
}

.forgetPassword {
  padding: 0;
  margin: 0;
}

.error {
  color: red;
}
